# カラースキーマ
[[plugins]]
repo = 'morhetz/gruvbox'
hook_add = '''
  let g:gruvbox_contrast_dark = 'hard'
  colorscheme gruvbox
  set background=dark
'''

# CSS のシンタックスハイライト
[[plugins]]
repo = 'hail2u/vim-css3-syntax'
on_ft = 'css'

# Vue.js の SFC のシンタックスハイライト
[[plugins]]
repo = 'posva/vim-vue'
on_ft = 'vue'

# fish のシンタックスハイライト
[[plugins]]
repo = 'dag/vim-fish'
on_ft = 'fish'

# TypeScript のシンタックスハイライト
[[plugins]]
repo = 'leafgarland/typescript-vim'
on_ft = 'typescript'

# JavaScript のシンタックスハイライト
[[plugins]]
repo = 'othree/yajs.vim'
on_ft = 'javascript'

# Blade のシンタックスハイライト
[[plugins]]
repo = 'jwalton512/vim-blade'
on_ft = 'blade'

# TOML のシンタックスハイライト
[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

# Nginx 設定ファイルのシンタックスハイライト
[[plugins]]
repo = 'chr4/nginx.vim'
on_ft = 'nginx'

# HTML のシンタックスハイライト
[[plugins]]
repo = 'othree/html5.vim'
on_ft = 'html'

# Pug のシンタックスハイライト
[[plugins]]
repo = 'digitaltoad/vim-pug'
on_ft = 'pug'

# カラーコードをハイライトする
[[plugins]]
repo = 'ap/vim-css-color'

# neosnippet のデフォルトスニペット
[[plugins]]
repo = 'Shougo/neosnippet-snippets'

# 末尾の空白を赤くする
[[plugins]]
repo = 'bronson/vim-trailing-whitespace'

# メモ管理
[[plugins]]
repo = 'glidenote/memolist.vim'

# コードの整形
[[plugins]]
repo = 'junegunn/vim-easy-align'
hook_add = '''
" Start interactive EasyAlign in visual mode (e.g. vipga)
xmap ga <Plug>(EasyAlign)

" Start interactive EasyAlign for a motion/text object (e.g. gaip)
nmap ga <Plug>(EasyAlign)
'''

# インデントのテキストオブジェクトを追加
[[plugins]]
repo = 'michaeljsmith/vim-indent-object'

# 括弧のテキストオブジェクトを追加
[[plugins]]
repo = 'tpope/vim-surround'

# 便利なコメントアウト
[[plugins]]
repo = 'scrooloose/nerdcommenter'
hook_add = '''
  let g:NERDSpaceDelims=1
  let g:NERDCompactSexyComs = 1
  let g:NERDDefaultAlign='left'
  let g:NERDCustomDelimiters = { 'vue': { 'left': '//' } }
'''

# git のブランチをセッションとして扱う
[[plugins]]
repo = 'ToruIwashita/git-switcher.vim'
hook_add = '''
  " Gswコマンド実行時にセッションの保存の確認を行う
  let g:gsw_save_session_confirm = 'yes'

  " vim起動時のセッション自動ロード設定
  let g:gsw_autoload_session = 'confirm'

  " vim 起動時に、保存したセッションのうちローカルに同じ名前のブランチが存在しないものを削除する。
  " yes、no、confirmを設定可能でデフォルトはno
  let g:gsw_autodelete_sessions_if_branch_not_exists = 'confirm'
'''

# Ctags の情報をウィンドウに表示する
[[plugins]]
repo = 'majutsushi/tagbar'

# ctags のタグを動的に生成
[[plugins]]
repo = 'soramugi/auto-ctags.vim'
hook_add = '''
  " ファイルに書き込む際にタグを作成
  let g:auto_ctags = 1

  " ctags のオプションを指定
  let g:auto_ctags_tags_args = []
'''

# Vim 上でコードを実行する
[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
  let g:quickrun_config = {
    \ 'python': {
    \   'command': 'python3'
    \ }, }
'''

# true <-> false などの切り替え
[[plugins]]
repo = 'AndrewRadev/switch.vim'
hook_add = '''
  let g:switch_mapping = 'gs'
'''

# インデントを可視化
[[plugins]]
repo = 'nathanaelkane/vim-indent-guides'
hook_add = '''
  let g:indent_guides_start_level = 2
  let g:indent_guides_guide_size = 1
'''

# 文字ケースの置換など
[[plugins]]
repo = 'tpope/vim-abolish'

# ファイラーのインタフェース
[[plugins]]
repo = 'Shougo/defx.nvim'

# 補完のインタフェース
[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_event = 'InsertEnter'
hook_add = '''
  let g:deoplete#enable_at_startup = 1
'''

# スニペット管理のインタフェース
[[plugins]]
repo = 'Shougo/neosnippet.vim'
on_event = 'InsertEnter'
depends = ['neosnippet.vim']
hook_add = '''
  let g:neosnippet#snippets_directory = $XDG_DATA_HOME . '/neosnippet/snips'
  imap <C-k> <Plug>(neosnippet_expand_or_jump)
  smap <C-k> <Plug>(neosnippet_expand_or_jump)
  xmap <C-k> <Plug>(neosnippet_expand_target)
'''

# fuzzy search のインタフェース
[[plugins]]
repo = 'Shougo/denite.nvim'
hook_add = '''
  " call denite#custom#option('default', {
  "     \ 'split': 'floating',
  "     \ })

  " Change file/rec command.
  call denite#custom#var('file/rec', 'command',
              \ ['pt', '--follow', '--nocolor', '--nogroup', '--hidden', '--ignore=.git',
              \  (has('win32') ? '-g:' : '-g='), ''])

  " Pt command on grep source
  call denite#custom#var('grep', 'command', ['pt'])
  call denite#custom#var('grep', 'default_opts',
              \ ['--nogroup', '--nocolor', '--smart-case', '--hidden', '--ignore=.git', '-e'])
  call denite#custom#var('grep', 'recursive_opts', [])
  call denite#custom#var('grep', 'pattern_opt', [])
  call denite#custom#var('grep', 'separator', ['--'])
  call denite#custom#var('grep', 'final_opts', [])

  call denite#custom#source('grep', 'args', ['', '', '!'])

  " Change mappings.
  autocmd FileType denite call s:denite_my_settings()
  function! s:denite_my_settings() abort
    nnoremap <silent><buffer><expr> <CR>
                \ denite#do_map('do_action')
    nnoremap <silent><buffer><expr> d
                \ denite#do_map('do_action', 'delete')
    nnoremap <silent><buffer><expr> p
                \ denite#do_map('do_action', 'preview')
    nnoremap <silent><buffer><expr> q
                \ denite#do_map('quit')
    nnoremap <silent><buffer><expr> i
                \ denite#do_map('open_filter_buffer')
    nnoremap <silent><buffer><expr> <Space>
                \ denite#do_map('toggle_select').'j'
    nnoremap <silent><buffer><expr> s
                \ denite#do_map('do_action', 'split')
    nnoremap <silent><buffer><expr> v
                \ denite#do_map('do_action', 'vsplit')
  endfunction
'''

# git を扱う
[[plugins]]
repo = 'tpope/vim-fugitive'

# 終了時にセッションとしてスナップショットを保存
[[plugins]]
repo = 'yaktak/sestry.vim'
