# This is Git's per-user configuration file.
[user]
    name = yaktak
    email = yakei034@gmail.com
[push]
    default = current
[core]
    excludesfile = ~/.gitignore
    editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    a = add
    b = branch
    ba = branch --all
    bd = branch --delete
    bm = branch --move
    br = branch --remote
    co = checkout
    cob = checkout -b
    c = commit
    ca = commit --all
    can = commit --all --amend
    cam = commit --all --message
    camn = commit --all --message --amend
    cem = commit --allow-empty --message
    cm = commit --message
    cmn = commit --message --amend
    cn = commit --amend
    d = diff
    dc = diff --cached
    dw = diff --word-diff
    dwc = diff --word-diff --cached
    f = fetch
    m = merge
    mt = mergetool -t vimdiff2
    ps = push
    psf = push --force
    pl = pull
    plr = pull --rebase
    pwb = symbolic-ref --short HEAD
    rb = rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    rss = reset --soft
    rsm = reset --mixed
    rsh = reset --hard
    sa = stash apply
    sc = stash clear
    ss = stash save
    ssu = stash save -u
    sl = stash list
    sp = stash pop
    s = status
    l = log
    lo = log --oneline
    lgo = log --graph --oneline --pretty=format:'%C(bold blue)<%an>%Creset %C(yellow)%h%Creset -%C(red)%d%Creset %s'
[http]
    sslVerify = false
